body {
  &:not(.has-search) {
    .header {
      .date-picker-wrapper {
        @include media-breakpoint-up(md) {
          left: 0 !important;
          transform: translate(calc(-100% - 2.1rem), calc(-50% + 0.5rem)) !important;

          .month-wrapper {
            margin-top: 0 !important;

            &::before {
              top: 50%;
              left: unset;
              right: -1.5rem;
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
}

.date-picker-wrapper {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));

  font-family: $ff-TheanoDidot;
  color: #323232;

  @include media-breakpoint-down(sm) {
    min-width: 100%;
    left: 0 !important;

    .month-wrapper {
      &::before {
        left: 50%;
        transform: translate(-50%, -100%);
      }
    }
  }

  @include media-breakpoint-up(xl) {
    left: 0 !important;
  }

  .drp_top-bar {
    display: none;
  }

  .footer {
    position: relative;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background-color: $white;

    font-size: 1.4rem;
    font-weight: 400;
    color: #575757;
    letter-spacing: -0.034rem;
    font-weight: normal;

    b {
      font-weight: normal;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 2.3rem;
      right: 2.3rem;
      border-top: 1px solid $colors-dirty-white;
    }
  }

  .date-range-length-tip {
    background-color: $colors-secondary;
    color: $white;

    &::after {
      border-color: $colors-secondary;
    }
  }

  .month-wrapper {
    border-radius: 0;
    border: none;
    padding: 0;
    margin-top: 2.2rem;
    padding-top: 1.6rem;
    padding-bottom: 3rem;
    padding-right: 2.3rem;
    padding-left: 2.3rem;

    @include media-breakpoint-between(md, lg) {
      margin-top: 1.2rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-right-width: 1rem;
      border-left-width: 1rem;
      border-bottom: 1rem solid $white;

      @include media-breakpoint-up(md) {
        left: 9rem;
        transform: translateY(-100%);
      }
    }

    table[class*='month'] {
      table-layout: fixed;
      width: 100%;

      @include media-breakpoint-up(md) {
        width: auto;
      }

      th {
        &:nth-child(1) {
          width: 2.2rem;
        }

        &[colspan] {
          width: calc(2.2rem * 5);
        }
      }

      td,
      th {
        margin: 1rem;
        font-weight: 400;
      }

      td {
        @include media-breakpoint-up(md) {
          .day {
            min-width: 2.2rem;
            width: 2.2rem;
          }
        }
      }

      .day {
        padding: 0;
        margin: 0.5rem;
        font-size: 1.26rem;
        letter-spacing: -0.034rem;
        line-height: 1.8;
        border-radius: 50%;

        min-width: 2.2rem;
        width: 2.2rem;

        &.real-today {
          background-color: $colors-secondary;
        }

        &.lastMonth,
        &.nextMonth {
          // display: block !important;
          opacity: 0.25;
        }

        &.checked,
        &.hovering {
          background-color: rgba($colors-secondary, 0.5) !important;
          color: $colors-black !important;
        }

        &.first-date-selected,
        &.last-date-selected {
          background-color: $colors-secondary !important;
        }
      }
    }

    .gap {
      @include media-breakpoint-down(sm) {
        display: none;
      }

      @include media-breakpoint-up(md) {
        width: 1px;
        background-color: transparent;
        margin: 0 49px;
        visibility: visible !important;
        min-height: 22rem;
        height: auto !important;

        &:after {
          content: '';
          position: absolute;
          right: 0;
          background-color: $colors-dirty-white;
          height: 13.6rem;
          width: 1px;
          top: 50%;
          transform: translateY(-50%);
        }

        .gap-lines {
          display: none;
        }
      }
    }
  }

  table {
    position: relative;

    .caption {
      height: 4.2rem;
    }

    .prev,
    .next {
      position: relative;
      display: inline-block;
    }

    .month-name {
      text-transform: capitalize;
      color: $colors-black;
      font-size: 1.6rem;

      .select-wrapper {
        text-transform: capitalize;
      }

      select option {
        text-transform: capitalize;
      }
    }

    .week-name {
      font-size: 1.1rem;
      color: #8e8e8e;

      th {
        text-transform: capitalize;
      }
    }
  }
}
