@keyframes shownAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popover {
  $height: 1rem;

  background-color: transparent;
  border: none;
  z-index: 1004;

  @include media-breakpoint-down(sm) {
    &.daily-rates {
      position: fixed !important;
      min-width: 90vw;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
    }

    > * {
      width: 100%;
    }
  }

  &-is-active {
    border-color: rgba($black, 0.3);
  }

  &-is-shown {
    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($black, 0.2);
      z-index: 1003;
      animation: shownAnim $duration ease-in;
    }
  }

  &.bs-popover-bottom {
    margin-bottom: $height;

    .arrow {
      width: 2 * $height;
      height: $height;
      top: calc(-#{$height} + 1px);

      &:before,
      &:after {
        border-bottom-color: $colors-secondary-300;
        border-width: 0 1rem 1rem 1rem;
      }
    }
  }

  &.bs-popover-top {
    margin-bottom: $height;

    .arrow {
      width: 2 * $height;
      height: $height;
      bottom: calc(-#{$height} - 1px);

      &::before {
        border-top-color: transparent;
        border-width: 1rem 1rem 0;
      }

      &::after {
        border-top-color: $colors-secondary-300;
        border-width: 1rem 1rem 0;
      }
    }
  }

  &-body {
    font-size: 1.4rem;
    font-family: $ff-TheanoDidot;
    font-weight: normal;
    line-height: 1.29;
    padding: 1rem;
    background-color: $colors-secondary-300;
    color: $black;
    border-radius: 0.6rem;

    &.daily-rates {
      position: relative;
      padding: 2rem;

      @include media-breakpoint-up(md) {
        min-width: 32rem;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          transform: translate(40%, -40%);
          background-color: $colors-secondary-300;
          width: 3rem;
          height: 3rem;
          background-image: url("data:image/svg+xml,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'%3E%3C/path%3E%3C/svg%3E");
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: 70%;
          background-position: center;
        }
      }

      span {
        display: block;
        font-size: 1.4rem;
        line-height: 1.11;

        + * {
          margin-top: 0.75rem;
          font-family: $ff-Didot;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1;
        }

        &.amount--old {
          font-size: 1.4rem;
          text-decoration: line-through;
          color: $colors-primary;
        }
      }

      > * {
        + * {
          margin-top: 1rem;
        }
      }
    }

    .box-bordered {
      border-radius: 0.4rem;
      border: 1px solid rgba($black, 0.5);
      padding: 0.7rem;
    }
  }
}
