// $colors-light-peach: #fed29f; //
$colors-transparent: transparent;

// $colors-clay-brown: #ad793e; //
// $colors-crimson: #b5181d; //

$colors-primary: #b5181d;
$colors-secondary: #fed29f;

$colors-secondary-100: #fff1e2;
$colors-secondary-300: #ffead3;
$colors-secondary-400: #f7d3aa;

$colors-secondary-dark: #ad793e;
$colors-secondary-bold: #e6b443;
$colors-danger: #b5181d;

$colors-border-color: #312d2c;
$colors-border-color-light: rgba(#7e7e7e, 0.5);

$colors-black: #030303;
$colors-warm-grey: #737373;
$colors-warm-grey-two: #7f7f7f;
$colors-dirty-white: #d3d3d3;
$colors-brownish-grey: #6e6666;
$colors-greyish-brown: #4b4b4b;
$colors-greyish-brown-dark: #575655;
$colors-greyish-brown-bold: #464646;
