%bgContainCenteredImage {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

%noRepeatImage {
  background-position: center;
  background-repeat: no-repeat;
}
