$ff-TheanoDidot: 'Theano Didot', serif;
$ff-Athelas: Athelas, serif;
// $ff-Didot: linotype-didot, serif;
$ff-Barlow: 'Barlow', sans-serif;
$ff-Didot: Didot, serif;
$duration: 300ms;
$xlContainerMaxW: 117.7rem;

$containerWidth--md: 94vw;
$containerWidth--xl: 133.6rem;

$imageSrc: '../images';
