body,
input,
textarea,
select,
button {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-text-size-adjust: 100%;
  // font-size: 62.5%;
  min-height: -webkit-fill-available;

  font-size: 62.5%;

  @media screen and (min-width: 375px) {
    font-size: 11 / 16 * 100%;
  }

  @include media-breakpoint-up(md) {
    font-size: calc(10px + (12 - 10) * ((100vw - 768px) / (1200 - 768)));
  }

  @include media-breakpoint-up(xl) {
    font-size: calc(9px + (10 - 9) * ((100vw - 1200px) / (1280 - 1200)));
  }

  @include media-breakpoint-up(1280) {
    font-size: calc(9px + (10 - 9) * ((100vw - 1280px) / (1440 - 1280)));
  }

  @include media-breakpoint-up(1440) {
    font-size: 10 / 16 * 100%;
  }

  // @media screen and (min-width: 375px) {
  //   font-size: 11 / 16 * 100%;
  // }

  // @include media-breakpoint-up(md) {
  //   font-size: 62.5%;
  // }

  // @include media-breakpoint-up(lg) {
  //   font-size: 12 / 16 * 100%;
  // }

  // @include media-breakpoint-up(xl) {
  //   font-size: 9 / 16 * 100%;
  // }

  // @include fluid-size(1200px, 1440px, 9px, 10px);
}

body {
  font-family: $ff-TheanoDidot;
  font-weight: 400;
  font-size: 1.6rem;
  min-height: 100vh;

  &.no-search {
    background-image: url('https://asteriahotels.com/images/hotels/bodrum-resort/asteria-hotels-asteria-bodrum-resort-537.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 74%;
  }

  @include media-breakpoint-down(sm) {
    [class*='row'] {
      > .col-12 {
        + *:not(.col-auto) {
          margin-top: 1.2rem !important;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    [class*='row'] {
      > [class*='col-12'] {
        + [class*='col-12']:not([class*='col-md']) {
          margin-top: 1.2rem !important;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    [class*='row'] {
      + [class*='row']:not(.row--inner) {
        margin-top: 1.2rem;
      }

      > .col-12 {
        + *:not([class*='col-md']):not(.col-auto):not([class*='col-xl']) {
          margin-top: 1.2rem;
        }
      }
    }
  }

  main > .container > .row {
    padding-top: 1.4rem;

    @include media-breakpoint-up(md) {
      padding-top: 4.4rem;
    }

    main > .container > .row > *:nth-child(2) {
      margin-top: 0 !important;
    }
  }

  &:not(.is-loaded) {
    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: 999;
    }
  }
}

body {
  &.has-search {
    @media (max-width: 374px) {
      .container {
        $amount: 8px;
        padding-left: $amount;
        padding-right: $amount;

        .row {
          margin-left: -$amount;
          margin-right: -$amount;

          > * {
            padding-left: $amount;
            padding-right: $amount;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 9.7rem;
    }

    @include media-breakpoint-up(xl) {
      footer {
        display: none;
      }
    }

    main {
      &:not(.success-page) {
        padding-bottom: 10rem;
      }
      @include media-breakpoint-up(xl) {
        min-height: calc(100vh - (var(--fh) + var(--hh)));
      }
    }

    .container {
      max-width: 100%;

      @include media-breakpoint-up(xl) {
        max-width: 98%;

        .content-column {
          flex: 0 0 73%;
          max-width: 73%;
        }
      }

      @include media-breakpoint-up(1440) {
        max-width: 94%;
      }

      @include media-breakpoint-up(1600) {
        max-width: calc(160rem - (13.8rem + 12.6rem - 3rem));
      }
    }
  }

  &:not(.has-search) {
    @include media-breakpoint-down(lg) {
      .container {
        max-width: 100%;
      }
    }
  }
}

main {
  @include media-breakpoint-down(sm) {
    min-height: fluidAmount(808, 320, vw);
  }
}

@for $i from 1 to 7 {
  h#{$i} {
    margin: 0;
  }
}

figure,
p,
label {
  margin-bottom: 0;
}

ul {
  &:not(.standart-list) {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}

a {
  &:hover {
    text-decoration: none;
    transition: color $duration ease-in;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

hr {
  &.border-dashed {
    border-style: dashed;
  }
}

img {
  width: 100%;
}

.bg {
  &--light-pink {
    background-color: $colors-secondary-100 !important;
  }
}

.top-0 {
  top: 0;
}

.vertical-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  height: 2rem;
  width: 1px;
  background-color: rgba(#979797, 0.5);
}
